<div class="span4 offset4">
	<div class="boxy">

			<h1 class="custom-font">Hi I'm Andy</h1>


			<p>I love Rails3.2.14. Installing was the worst, and took too long.</p>
			<%= link_to('Check out my App', '#', :class =>'btn btn-success btn-large') %>
	</div>
</div>