<div class="row-fluid">
	<div class="span6 offset3">
		<div class="boxy">

				<h1 class="custom-font">Hi I'm Andy</h1>


				<p>I love Rails3.2.14. Installing was the worst, and took too long.</p>
				<%= link_to('Check out my App', '/pics/new', :class =>'btn btn-success btn-large') %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="boxy span4">
		HELLO
	</div>

	<div class="boxy span4">
		WORLD
	</div>

	<div class="boxy span4">
		WORLD
	</div>
</div>