
<div class="row-fluid boxy">
	<div class="span6 offset3">
		<h1 class="custom-font">Hi I'm Andy</h1>
		<p>
			I love Rails3.2.14. Installing was the worst, and took too long.
		</p>
		<%= link_to('Upload Your First Photo', '/pics/new', :class =>'btn btn-success btn-large') %>
	</div>
</div>