<div class="row-fluid span9 offset1">
  	<h1>All Your Pics Are Belong To Us!</h1>
	<% @pics.each do |pic| %>
		<div class="span3">
			<div class="boxy">
				<h3>Hour: <%= pic.hour %>
				</h3>
				<%= image_tag pic.image %>
				<h5>Emotion:
					<p></p>
				<%= pic.emotion %>
				</h5> 
				<h5>Learned: 
					<p></p>
				<%= pic.learned %>
				</h5>
			</div>
		</div>
	<% end %>
</div>
