<div class="container-fluid">
  	<div class="row-fluid">
	    <div class="span2 container-white">
	      <!--Sidebar content-->
	      <%= link_to 'New Pic', new_pic_path, :class => 'btn btn-success btn-large'%>
	    </div>
	    <div class="span10">
	      	<!--Body content-->
	      	<h1>Here are your entries!</h1>
			<% @pics.each do |pic| %>
				<div class="span3">
					<div class="boxy">
						<h3>Hour: <%= pic.hour %>
						</h3>
						<p />
						<h5>Emotion:
							<p></p>
						<%= pic.emotion %>
						</h5> 
						<p />
						<h5>Learned: <%= pic.learned %>
						</h5>
						<p />
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
