// Place all the styles related to the pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.formbox{
	margin-top: 2%;
  	background-color:rgba(225, 225, 225, 0.25);
  	padding:1%;
  	color: white;
  	line-height: 2em;
}